body {
  background-color: #E1E5EA;
}

h1 {
  color: #C37B89;
  font-family: 'EB Garamond', sans-serif;
  font-size: 70px;
  margin-bottom: 1px;
}

h2 {
  color: #C37B89;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
}

h3, h4 {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}

/* Title Section start */
#title {
  width: 100%; height: 407px;
}

.section-1 {
  height: 407px;
  overflow: hidden;
}

.bg {
  height: 350px;
}

.pro-text {
  color: #ffff;
}
/* Title Section end */

/* Destinations Section start */
.section-2 {
  padding: 7% 15%;
}

.sec2-h2 {
  text-align: center;
  padding-bottom: 70px;
}

.dest-names1 {
  text-align: center;
}

.dest-names2 {
  text-align: center;
}

.africa-name {
  padding-left: 10px;
  padding-right: 30px;
}

.asia-name {
  padding-left: 10px;
  padding-right: 30px;
}

.europe-name {
  padding-left: 10px;
}

.na-name {
  padding-left: 10px;
  padding-right: 30px;
}

.sa-name {
  padding-left: 10px;
}

.profile {
   margin-top: 50px;
 }
/* Destinations Section end */

/* about us start */
#about-us {
  background-color: #92A9BD;
  color: #fff;
  padding: 5% 15% 7% 15%;
/*
  padding-left: 15%;
  padding-right: 15%
  */
}

.h2-about-us {
  text-align: center;
  margin: 60px;
}

.about-us-text {
   position: relative;
   top: 5px;
   padding: 0 70px;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   font-size: 110%;
}

.about-us-hr {
  margin: 0 auto 60px auto;
}
/* about us end */

/* contact start */
.contact {
   padding: 7% 15%;
   text-align: center;
}

.form {
   position: relative;
   text-align: center;
   padding-top: 40px;
}

.hr-contact-me {
   position: relative;
   padding-bottom: 70px;
}
/* contact end */


/* ---------Italy div---------- */
.italy-parent {
   position: relative;
}

.italy-parent img {
   max-width: 100%;
}

.italy-text-block {
  position: absolute;
  font-size: 180%;
  top: 25px;
  right: 20px;
  background-color: lightgrey;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  border: 2px solid black;
}


/* ----------Germany div---------- */
.germany-parent {
   position: relative;
}

.germany-parent img {
   max-width: 100%;
}

.germany-text-block {
  position: absolute;
  font-size: 180%;
  top: 25px;
  right: 20px;
  background-color: lightgrey;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  border: 2px solid black;
}


/* ---------Austria div--------- */
.austria-parent {
   position: relative;
}

.austria-parent img {
   max-width: 100%;
}

.austria-text-block {
  position: absolute;
  font-size: 180%;
  top: 25px;
  right: 20px;
  background-color: lightgrey;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  border: 2px solid black;
}


/* -----------Czech div---------- */
.czech-parent {
   position: relative;
}

.czech-parent img {
   max-width: 100%;
}

.czech-text-block {
  position: absolute;
  font-size: 180%;
  top: 25px;
  right: 20px;
  background-color: lightgrey;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  border: 2px solid black;
}


/* ------------italy.html------------ */
.italy-guide-parent {
   position: relative;
}

.italy-guide-parent img {
   max-width: 100%;
}

.italy-heading {
   position: relative;
   margin-top: 120px;
   text-align: center;
   font-size: 35px;
}

.italy-textarea {
   text-align: center;
   font-size: 23px;
   margin-left: 70px;
   margin-right: 70px;
}

.milano-parent {
   position: relative;
}

.milano-parent img {
   max-width: 100%;
   margin-top: 120px;
}

.milano-heading {
   position: relative;
   margin-top: 120px;
   margin-left: 70px;
   font-size: 35px;
}

.milano-textarea {
   position: absolute;
   margin-top: 20px;
   font-size: 23px;
   margin-left: 70px;
   margin-right: 70px;
}
